footer{
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
footer ul.copyright{
    color:var(--medium-gray) !important;
}
footer ul li{
	margin-bottom: 0.50em;
}
footer ul{
    color: var(--button-disabled-bg) !important;
	margin-right: 1.5em;
}
footer ul.newalt a{
	border-bottom: none;
}
footer p{
	margin-bottom: 1em;
    color: var(--header-text);
}
footer .box{
    padding-bottom: 1.5em;
	margin: 0;
    border-radius: 6px 6px 0 0 ;
}
footer{
    padding: 0;
}
footer h4{
    font-size: 1.5em;
    color: var(--light-gray);
	margin-bottom:0.5em;
	margin-right: -0.45em;
}
footer h5{
    font-size: 1.25em;
    color:var(--header-text);
}
footer .box{
    background-image: linear-gradient(15deg, var( --secondary-color) 0%, var(--heading-color) 100%);
}