<footer id="footer">
    <ul class="icons">
        <li><a href="#" class="icon brands fa-whatsapp"><span class="label">whatsapp</span></a></li>
        {% comment %} <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li> {% endcomment %}
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon solid fa-phone-alt"><span class="label">phone</span></a></li>

        {% comment %} <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li> {% endcomment %}
        {% comment %} <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li> {% endcomment %}
        {% comment %} <li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li> {% endcomment %}
    </ul>
    <ul class="copyright">
        <li>&copy; حق کپی رایت محفوظ است</li><li>طراحی شده توسط: <a href="#">احسان رمضانی</a></li>
    </ul>
</footer>