<footer id="footer">
    <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=663640&Code=FmBZJ8LsX7kPwNZW73NiRP4dxWNx4qIG'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=663640&Code=FmBZJ8LsX7kPwNZW73NiRP4dxWNx4qIG' alt='' style='cursor:pointer;width:75px;' code='FmBZJ8LsX7kPwNZW73NiRP4dxWNx4qIG'></a>
    <ul class="icons" style="margin-top:20px;">
        <li><a href="#" class="icon brands fa-whatsapp"><span class="label">whatsapp</span></a></li>
        {% comment %} <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li> {% endcomment %}
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="mailto:info@nurajam.ir" class="icon solid fa-envelope"><span class="label">email</span></a></li>
        <li><a href="#" class="icon solid fa-phone-alt"><span class="label">phone</span></a></li>

        {% comment %} <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li> {% endcomment %}
        {% comment %} <li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li> {% endcomment %}
    </ul>
    <ul class="copyright">
        <li>طراحی شده توسط: <a href="https://pestiline.ir/resume/Ehsan-Ramezani/" target="_blank">احسان رمضانی</a></li>
        <li>&copy; حق کپی رایت محفوظ است</li>
    </ul>
</footer>