{% load static %}


    <div class="tlogo-container"><img src="{% static 'img/tci.png' %}" width="35px" /></div>
    <nav id="nav">
        <ul>
            <li><a href="{% url 'index' %}">خانه</a></li>
            <li>
                <a href="#" class="icon solid fa-angle-down">صفحات</a>
                <ul>
                    <li><a href="">ثبت نام سرویس</a></li>
                    <li><a href="">پیگیری ثبت نام</a></li>
                    <li>
                        <a href="#">فرایند های ثبت نام</a>
                        <ul class="align-right">
                            <li><a href="{% url 'register-index' %}">قوانین و شروع</a></li>
                            <li><a href="{% url 'register-getnumber' %}">گرفتن شماره تلفن</a></li>
                            <li><a href="{% url 'register-verifynumber' %}">تایید شماره تلفن</a></li>
                            <li><a href="{% url 'register-personal' %}">واردکردن اطلاعات شخصی</a></li>
                            <li><a href="{% url 'register-service' %}">انتخاب سرویس و تنظیم قرارداد</a></li>
                            <li><a href="{% url 'register-contract' %}">قرار داد تنظیم شد</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#" class="button">درباره ما</a></li>
        </ul>
    </nav>
</header>