{% extends 'patterns/base.html' %}
{% load static %}

{% block content %}
<section id="banner">
    <h2>نوراجم</h2>
    <p>شرکت توسعه و زیرساخت نوراجم پیشرو در توسعه فیبر نوری</p>
    <ul class="actions special">
        <li><a href="#" class="button">پیگیری ثبت نام</a></li>
        <li><a href="#" class="button primary">ثبت نام سرویس</a></li>
    </ul>
</section>

<!-- Main -->
<section id="main" class="container">

    <section class="box special">
        <header class="major">
            <h2>مزایای فیبرنوری</h2>
            <p>با استفاده از فیبرنوری کیفیت اینترنت خود را تا چندین برابر بهبود ببخشید</p>
        </header>
        
    </section>

    <section class="box special features">
        <div class="features-row">
            <section>
                <span class="icon solid major fa-bolt accent2"></span>
                <h3>سرعت بیشتر</h3>
                <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
            </section>
            <section>
                <span class="icon solid major fa-chart-area accent3"></span>
                <h3>اتصال پایدار</h3>
                <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
            </section>
        </div>
        <div class="features-row">
            <section>
                <span class="icon solid major fa-cloud accent4"></span>
                <h3>تاخیر فوق کم </h3>
                <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
            </section>
            <section>
                <span class="icon solid major fa-lock accent5"></span>
                <h3>اتصال ایمن</h3>
                <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
            </section>
        </div>
    </section>
    <section class="box special">
        <header class="major">
            <h2>خدمات شرکت نوراجم</h2>
        </header>
        
    </section>
    <div class="row">
        <div class="col-6 col-12-narrower">


            <section class="box special">
                <span class="image featured"><img src="{% static 'img/pic02.jpg' %}" alt="" /></span>
                <h3>در زمینه دارو</h3>
                <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                <ul class="actions special">
                    <li><a href="#" class="button alt">بیشتر بخوانید</a></li>
                </ul>
            </section>

        </div>
        <div class="col-6 col-12-narrower">

            <section class="box special">
                <span class="image featured"><img src="{% static 'img/pic03.jpg' %}" alt="" /></span>
                <h3>در زمینه توسعه فیبرنوری</h3>
                <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                <ul class="actions special">
                    <li><a href="#" class="button alt">بیشتر بخوانید</a></li>
                </ul>
            </section>

        </div>
    </div>

</section>
{% endblock %}