{% extends 'patterns/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/proc.css' %}" />
{% endblock %}
{% block title %}ثبت نام اینترنت فیبرنوری در رفسنجان | نوراجم {% endblock %}
{% block description %}همین حالا اینترنت فیبرنوری را ثبت نام کنید ، نوراجم با زیرساخت مطمئن و پشتیبانی حرفه ای اینترنت مخابرات را تا درب منزل های شما می آورد . {% endblock %}
{% block header %}<header id="header" class="reveal">{% endblock %}
{% block content %}
<section id="main" class="container medium">
    <header>
        <h2>ثبت نام سرویس اینترنت پرسرعت</h2>
        <p>ضمایم و شرایط ثبت نام فیبرنوری</p>
    </header>
     <div class="box">
        <div clas="step-section">
            <div class="progress-container">
                <ul class="progress-steps">
                    <div id="progress-bar-fill"></div>
                    <li class="step" data-step="1"><div class="step-circle">1</div><div class="step-description">تایید شماره تلفن</div></li>
                    <li class="step" data-step="2"><div class="step-circle">2</div><div class="step-description">تکمیل اطلاعات شخصی</div></li>
                    <li class="step" data-step="3"><div class="step-circle">3</div><div class="step-description">انتخاب سرویس</div></li>
                    <li class="step" data-step="4"><div class="step-circle">4</div><div class="step-description">تنظیم قرارداد</div></li>
                </ul>
            </div>
        </div>
     </div>   
    <div class="box">
        <form method="post" action="#">
            {% csrf_token %}
            <div class="row gtr-50 gtr-uniform special aln-center">
                 <h3 style="padding:0;text-align:center;">به سامانه ثبت نام اینترنت پرسرعت خوش آمدید</h3>
                <p class="align-center" style="padding:0;">از اینکه شرکت مارا به عنوان پیمانکار رسمی شرکت مخابرات ایران جهت بهره مندی از خدمات فیبرنوری انتخاب نمودید سپاس گزاریم .</p>
                <h4 style="padding:14px 0px;">پیش از ثبت نام به نکات زیر توجه فرمایید</h4>
                <ul class="alt pl-0">
                    <li>ثبت نام شما در این سامانه به منزله پیش ثبت نام جهت بررسی و امکان فنی دائری سروییس میباشد ، بنابراین احتمال عدم امکان ارائه سرویس در برخی مناطق الخصوص خارج از مناطق از پیش تعیین شده وجود دارد</li>
                    <li>در مراحل ثبت نام این سامانه هیچ هزینه ای از شما دریافت نخواهد شد</li>
                    <li>هزینه ی مربوط به نصب و راه اندازی (دراپ کشی - فیوژن زنی) پس از نصب و هزینه سرویس اینترنت و اقساط مودم از طریق قبوض ماهیانه دریافت میشوند</li>
                    <li>در مرحله انتخاب سرویس تمامی هزینه های اصلی و جانبی راه اندازی سرویس به شما نشان داده خواهد شد و تایید هزینه ها و شرایط توسط شما به صورت الکترونیکی ثبت میشود</li>
                </ul>
                <div class="col-12" style="padding-left:0; ">
                    <ul class="actions special">
                        <a  class="button" href="{% url 'register-getnumber' %}">شروع فرایند</a>
                        {% comment %} <input type="submit" id="submit-button" value="شروع فرایند"  /> {% endcomment %}
                    </ul>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}

{% block script %}
<script src="{% static 'js/proc.js' %}"></script>
{% endblock %}

